<style>
    .container {
        max-width: 25rem;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {{!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> --}}
    <title>Código de reestablecimiento</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="card bg-light mb-3"  style="max-width: 25rem;">
                <div class="card-header text-white">
                    <div class="text-center">
                        <h2 class="card-title">MANDATUM</h2>
                    </div>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Hola {{nombre}}</h5>
                    <p class="card-text">Se acaba de solicitar un código para reestablecer su contraseña, el cual es el siguiente</p>
                    <div class="text-center">
                        <h5 class="card-title">{{codigo}}</h5>
                    </div>
                    <p class="card-text">Después, deberá restablecer su contraseña. En caso de haber sido bloqueado, esto desbloqueará su cuenta también.</p>
                    <p class="card-text">Sin más por el momento, se le envía un cordial saludo.</p>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        <p class="card-text">Mandatum &copy; Support Service  2020</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>